{% block head %}
    <link rel="stylesheet" href="/resources/css/homepage.css">
{% endblock %}

{% block content %}
    <div class="container">
        <img src="../resources/img/livemaster_logo.jpg" alt="Logo livemaster">
        <div class="table">
            <div class="table__row">
                <div class="table__title">Порядковый номер</div>
                <div class="table__title">Имя Фамилия</div>
                <div class="table__title">Направление обучения</div>
                <div class="table__title"></div>
            </div>
            {% for student in students %}
                {% set name = student.first_name ~ ' ' ~ student.second_name %}
                <div class="table__row">
                    <div class="table__item">{{ student.id }}</div>
                    <div class="table__item">{{ name }}</div>
                    <div class="table__item">{{ student.direction }}</div>
                    <div class="table__item">
                        <button
                                class="open-modal-button js-open-modal"
                                data-birthday={{ student.birthday }}
                                data-link={{ student.personal_file_link }}
                                data-first-name={{ student.first_name }}
                                data-second-name={{ student.second_name }}
                        >
                            Дополнительная информация
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/resources/js/homepage.js"></script>
{% endblock %}